*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 50px;
    padding-left: 70px;
    padding-right: 70px;
    background-color: #f7f8fb;
    padding-top: 15px;
    padding-bottom: 25px;
}
header .fa-envelope{
    padding-left: 740px;
}
.navbar{
    padding-top: 10px;
    padding-bottom: 10px;
    position: sticky;
    top: 0px;
    width: 100%;
    background-color: #ffffff;
}
nav{
    width: 100%;
    overflow: auto;
    margin: auto;
}
nav ul{
    padding: 0;
    list-style: none;
    float: right;
    justify-content: center;
    display: flex;
    align-items: center;
}
nav li{
    float: left;
    padding-right: 62px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
nav li a{
    width: 100px;
    text-decoration: none;
    text-align: right;
    color: black;
}
.logo img{
    position: absolute;
    margin-left: 62px;
}
nav ul li a:hover{
    color: #4b9ad0;
    border-bottom: 3px solid #4b9ad0;
}
ul button{
    width: 125px;
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
}
ul button:hover{
    color: antiquewhite;
    background-color: rgb(2, 2, 48);
}
.b .l{
    color: #031e29;
    font-size: larger;
    border: 1px solid black;
    border-radius: 8px;
    height: 130px;
    width: 220px;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
}
div .b .l{
    box-shadow: 10px 10px #063e55;
}
.n .l1{
    color: #031e29;
    font-size: larger;
    border: 1px solid black;
    border-radius: 8px;
    height: 180px;
    width: 300px;
    padding: 15px;
}
div .n .l1{
    box-shadow: 10px 10px #042b3a;
}
.m .l2{
    border: 1px solid white;
    padding: 20px;
    height: 250px;
    width: 230px;
    border-radius: 8px;
}
.m .l2 img{
    height: 120px;
    width: 120px;
}
.m .l2 p{
    font-weight: bold;
    font-size: large;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.k .l3 p{
    font-size: larger;
    font-weight: bold;
    color: rgb(87, 84, 84);
    font-family: sans-serif;
}
i{
    color: orange;
}
div .of{
    height: 50%;
    width: 40%;
    padding: 20px;
    border-radius: 8px;
    background-color: white;
}
div .of ul li{
    color: rgb(92, 88, 88);
    font-size: large;
    padding: 5px;
}
div .of ul{
    padding-left: 40px;
}
div .of{
    padding-top: 30px;
    padding-left: 20px;
    height: 300px;
}
.p button{
    background-color: white;
    border: white;
    font-size: large;
    font-weight: bold;
    height: 70px;
    width: 150px;
}
.p1 .p2{
    box-shadow: 5px 5px #022735;
    width: 230px;
    height: 150px;
    border: 1px solid black;
    border-radius: 8px;
    margin-top: 50px;
}
.p1 .p2 p{
    font-size: large;
    color: #022735;
}
.p3 .p4 img{
    border-radius: 50px;
    height: 90px;
    width: 90px;
}
.p3 .p4 h2{
    color: #022735;
}
.p3 .p4 p{
    color: #022735;
    font-size: large;
}
.p3 .p4{
    height: 300px;
    width: 450px;
    padding: 37px;
    padding-top: 15px;
    border: 1px solid black;
    box-shadow: 5px 5px 5px #022735;
    border-radius: 8px;
}
.p3 .p4 button{
    height: 40px;
    width: 100px;
    background-color: green;
    color: white;
    border: 1px solid green;
    border-radius: 4px;
}

